@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/inter.woff2') format('woff2');
}

@font-face {
  font-family: 'Commit Mono';
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  src: url('/fonts/commit-mono.woff2') format('woff2');
}

@layer base {
  :root,
  .light {
    /* Start: Shadcn Theme */
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
    /* End: Shadcn Theme */

    --sand1: 60 20% 99%;
    --sand2: 60 8% 97%;
    --sand3: 30 7% 94%;
    --sand4: 40 6% 91%;
    --sand5: 45 6% 88%;
    --sand6: 45 5% 85%;
    --sand7: 48 5% 80%;
    --sand8: 51 5% 72%;
    --sand9: 60 3% 54%;
    --sand10: 60 2% 50%;
    --sand11: 60 3% 38%;
    --sand12: 48 8% 12%;

    --red1: 0 100% 99%;
    --red2: 0 100% 98%;
    --red3: 357 90% 96%;
    --red4: 358 100% 93%;
    --red5: 359 100% 90%;
    --red6: 359 94% 87%;
    --red7: 359 77% 81%;
    --red8: 359 70% 74%;
    --red9: 358 75% 59%;
    --red10: 358 69% 55%;
    --red11: 358 65% 49%;
    --red12: 351 63% 24%;

    --green1: 140 60% 99%;
    --green2: 137 47% 97%;
    --green3: 139 47% 93%;
    --green4: 140 49% 89%;
    --green5: 142 44% 84%;
    --green6: 144 41% 77%;
    --green7: 146 40% 68%;
    --green8: 151 40% 54%;
    --green9: 151 55% 42%;
    --green10: 152 56% 39%;
    --green11: 154 60% 32%;
    --green12: 155 40% 16%;

    --add-bg: 139 47% 93%;
    --add-text: 154 60% 32%;
    --remove-bg: 357 90% 96%;
    --remove-text: 358 65% 49%;
    --link: 220 83.7% 48%;
  }
  .dark {
    /* Start: Shadcn Theme */
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    /* End: Shadcn Theme */

    --sand1: 60 3% 6%;
    --sand2: 60 2% 10%;
    --sand3: 60 1% 13%;
    --sand4: 60 2% 16%;
    --sand5: 60 3% 19%;
    --sand6: 45 4% 22%;
    --sand7: 48 4% 28%;
    --sand8: 43 4% 37%;
    --sand9: 47 4% 42%;
    --sand10: 53 3% 47%;
    --sand11: 45 5% 69%;
    --sand12: 60 6% 93%;

    --red1: 0 19% 8%;
    --red2: 355 25% 10%;
    --red3: 350 53% 15%;
    --red4: 348 68% 19%;
    --red5: 350 63% 23%;
    --red6: 352 53% 29%;
    --red7: 355 47% 37%;
    --red8: 358 45% 49%;
    --red9: 358 75% 59%;
    --red10: 360 79% 65%;
    --red11: 2 100% 79%;
    --red12: 350 100% 91%;

    --green1: 154 20% 7%;
    --green2: 153 20% 9%;
    --green3: 152 41% 13%;
    --green4: 154 55% 15%;
    --green5: 154 52% 19%;
    --green6: 153 46% 23%;
    --green7: 152 44% 28%;
    --green8: 151 45% 34%;
    --green9: 151 55% 42%;
    --green10: 151 55% 45%;
    --green11: 151 65% 54%;
    --green12: 144 70% 82%;

    --add-bg: 154 55% 15%;
    --add-text: 151 65% 54%;
    --remove-bg: 348 68% 19%;
    --remove-text: 2 100% 79%;
    --link: 213 100% 61.2%;
  }

  * {
    @apply border-brand-6;
  }

  .anchor {
    @apply underline-offset-2 hover:underline;
  }
}

@layer components {
  /* use `:where` for being able to overwrite by `outline-none` */
  :where(
    *[tabindex='0'],
    a,
    input:not([disabled]),
    select:not([disabled]),
    textarea:not([disabled]),
    button:not([disabled])
  ) {
    @apply focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-0 focus-visible:outline-brand-12 focus-visible:ring focus-visible:ring-brand-1;
  }
}
