node_modules
.DS_store

dist
.env
.cache

# Easy way to create temporary files/folders that won't accidentally be added to git
*.local.*

# cloudflare
.dev.vars
worker-configuration.d.ts
.wrangler/

# tests
/test-results/
/playwright-report/
/playwright/.cache/
/coverage

# app
app/components/icons
app/content/frontmatters.ts
public/sitemap.xml
public/sprite.svg

# astro
.astro/
