[search-dialog-root] {
  touch-action: none;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  width: 100%;
  height: var(--window-height, auto);
  transform: translate3d(-50%, 0, 0);
  transition: 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
  transition-property: transform, width;
}

[search-dialog-root][search-dialog-visible='true'] {
  width: var(--window-width);
  transform: translate3d(-50%, var(--button-offset-top), 0);
  transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

.search-dialog-dragging .search-dialog-scrollable {
  overflow: hidden !important;
}

[search-dialog-trigger] {
  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 3.5rem;
  width: 100%;
  padding: 0 1rem;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  transition: 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
  transition-property: height, border-radius;
  @apply bg-brand-3;
}

[search-dialog-root]:where([search-dialog-visible='true'])
  [search-dialog-trigger] {
  height: 4.5rem;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
  transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

[search-dialog-content] {
  flex-grow: 1;
  overflow-y: hidden;
  clip-path: inset(0 0 100% 0);
  transition: 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  transition-property: clip-path, background-color;
  @apply bg-brand-9;
}

[search-dialog-root]:where([search-dialog-visible='true'])
  [search-dialog-content] {
  clip-path: inset(0 0 0 0);
  transition: 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
  @apply bg-brand-3;
}

[search-dialog-overlay] {
  opacity: 0;
}

[search-dialog-overlay][search-dialog-visible='true'] {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.05, 0.7, 0.1, 1);
}

[search-dialog-gesture] {
  transform: translate3d(100%, 0, 0);
  transition: transform 200ms cubic-bezier(0.3, 0, 0.8, 0.15);
  top: calc(50% - 20px);
  @apply fixed right-0 inline-flex size-10 shrink-0 select-none items-center justify-center rounded-full bg-brand-12 text-brand-1;
}

@media (hover: hover) and (pointer: fine) {
  [search-dialog-root] {
    user-select: none;
  }
}
