[data-search-content] {
  --animation-duration: 0.5s;
  animation-duration: var(--animation-duration, 0s);
  animation-timing-function: linear;
  transform-origin: top left;
  overflow: hidden;
  will-change: transform;
  contain: content;
  touch-action: none;
}
[data-search-content][data-state='open'] {
  animation-name: expandSearch;
}
[data-search-content][data-state='closed'] {
  animation-name: collapseSearch;
}

@media (hover: hover) and (pointer: fine) {
  [data-search-content] {
    user-select: none;
  }
}

[data-search-content-inner] {
  transform-origin: top left;
  height: 100%;
  width: 100%;
  animation-duration: var(--animation-duration, 0s);
  animation-timing-function: linear;
  will-change: transform;
  contain: content;
}
[data-search-content][data-state='open'] [data-search-content-inner] {
  animation-name: expandSearchInner;
}

[data-search-content][data-state='closed'] [data-search-content-inner] {
  animation-name: collapseSearchInner;
}

[data-search-overlay] {
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  animation-fill-mode: both;
}
[data-search-overlay][data-state='open'] {
  animation-name: fadeIn;
}
[data-search-overlay][data-state='closed'] {
  animation-name: fadeOut;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}

[data-search-menu-icon] line {
  transition: transform var(--animation-duration, 0s)
    cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: center;
}
[data-search-content][data-state='closed'] [data-search-menu-icon] line {
  transform: none;
}
[data-search-content][data-state='open'][data-delayed-animation='true']
  [data-search-menu-icon]
  line:nth-of-type(1) {
  transform: translate3d(-16px, 8px, 0) rotate(225deg) scale3d(0.68, 1, 1);
}
[data-search-content][data-state='open'][data-delayed-animation='true']
  [data-search-menu-icon]
  line:nth-of-type(2) {
  transform: translate3d(4px, 0, 0) rotate(180deg) scale3d(calc(14 / 18), 1, 1);
}
[data-search-content][data-state='open'][data-delayed-animation='true']
  [data-search-menu-icon]
  line:nth-of-type(3) {
  transform: translate3d(-16px, -8px, 0) rotate(135deg) scale3d(0.68, 1, 1);
}

[data-search-trailing-icon] {
  animation-timing-function: cubic-bezier(0.32, 0.72, 0, 1);
  animation-duration: 0.2s;
  animation-fill-mode: both;
}
[data-search-content][data-state='open'][data-delayed-animation='true']
  [data-search-trailing-icon] {
  animation-name: fadeIn;
  animation-delay: 0.3s;
}

[data-search-content][data-state='closed'] [data-search-trailing-icon] {
  animation-name: fadeOut;
}
