[demo-radio-item] {
  --inner-circle-duration: 0.1s;
  --inner-circle-delay: 0s;
  --mask-duration: 0.2s;
  --mask-delay: 0.1s;
}

[demo-radio-item][data-state='checked'] {
  --inner-circle-duration: 0.2s;
  --inner-circle-delay: 0.1s;
  --mask-duration: 0.1s;
  --mask-delay: 0s;
}

[demo-radio-item] mask > circle {
  animation: var(--mask-duration, 0s) var(--mask-delay, 0s);
  transform-origin: center;
}

[demo-radio-item][data-animated='false'] mask > circle {
  animation: none;
}

[demo-radio-item][data-state='unchecked'] mask > circle {
  animation-name: mask-circle-grow;
  animation-timing-function: ease-out;
}

[demo-radio-item][data-state='checked'] mask > circle {
  animation-name: mask-circle-shrink;
  animation-timing-function: ease-in-out;
}

@keyframes mask-circle-shrink {
  from {
    transform: none;
  }
  to {
    transform: scale3d(0, 0, 1);
  }
}

@keyframes mask-circle-grow {
  from {
    transform: scale3d(0, 0, 1);
  }
  to {
    transform: none;
  }
}

[demo-radio-item] [demo-radio-item-indicator] {
  animation: var(--inner-circle-duration, 0s) var(--inner-circle-delay, 0s);
  transform-origin: center;
  opacity: 0;
}

[demo-radio-item][data-animated='false'] [demo-radio-item-indicator] {
  animation: none;
}

[demo-radio-item][data-state='unchecked'] [demo-radio-item-indicator] {
  animation-name: inner-circle-grow;
  animation-timing-function: ease-in-out;
}

[demo-radio-item][data-state='checked'] [demo-radio-item-indicator] {
  animation-name: inner-circle-shrink;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes inner-circle-shrink {
  from {
    opacity: 1;
    transform: scale3d(2, 2, 1);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes inner-circle-grow {
  from {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 1;
    transform: scale3d(2, 2, 1);
  }
}
